* {
	background-color: #00cc44;
}


#body {
	width: 1290px;
	
}

h1 {
	position: absolute;
	left: 335px;
	text-align: center;
	font-family: 'Coming Soon', cursive;
	font-size: 50px;
	border-radius: 20px;
	padding: 20px;
	border: 10px solid yellow;
}

#sugar {
	width: 200px;
	cursor: pointer;
	margin-right: 29px;
}

#sugar:hover {
	/*width: 210px;*/
	z-index: 1;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-name:orbit;
    -webkit-animation-duration:3s;
}

#chocolate {
	width: 200px;
	cursor: pointer;
	margin-right: 35px;
}

#chocolate:hover {
	/*width: 210px;*/
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-name:orbit;
    -webkit-animation-duration:3s;
}

#lemon {
	width: 200px;
	cursor: pointer;
}

#lemon:hover {
	/*width: 210px;*/
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-name:orbit;
    -webkit-animation-duration:3s;
}

#cookies {
	position: absolute;
	left: 150px;
	top: 250px;
}

#cookiemonster {
	width: 400px;
	position: absolute;
	left: 850px;
	top: 200px;
}

/*Monster Cookies*/

#monstercookies {
	position: absolute;
	left: 355px;
	top: 260px;

	/*transform: rotate(45deg) translateX(250px) rotate(-45deg)*/;
}

#monstersugar {
	position: absolute;
	width: 170px;
	padding-right: 30px;
}

#monsterchocolate {
	width: 170px;
	padding-right: 40px;
	animation-name: transition;
    animation-name: shrinkchocolate;
    animation-duration: 1s;
}

#monsterlemon {
	width: 170px;
	animation-name: transition;
    animation-name: shrinklemon;
    animation-duration: 1s;
}

@-webkit-keyframes orbit { 
from { -webkit-transform:rotate(0deg) } 
to { -webkit-transform:rotate(360deg) } 
}

/*Clear Buttons*/

#clearbuttons {
	top: 480px;
	left: 233px;
	position: absolute;
	z-index: 3;
}

#clearsugar {
	font-family: 'Coming Soon', cursive;
	width: 80px;
	margin-right: 130px;
	border-radius: 30px;
	background-color: white;
	cursor: pointer;
}

#clearsugar:hover {
        background:yellow;
}

#clearchocolate {
	font-family: 'Coming Soon', cursive;
	width: 80px;
	margin-right: 130px;
	border-radius: 30px;
	background-color: white;
	cursor: pointer;
}

#clearchocolate:hover {
        background:yellow;
}

#clearlemon {
	font-family: 'Coming Soon', cursive;
	width: 80px;
	border-radius: 30px;
	background-color: white;
	cursor: pointer;
}

#clearlemon:hover {
        background:yellow;
}


